li {
   list-style: none;
}
.wrapper {
   max-height: 100%;
   display: flex;
}
.header {
   width: 100%;
   height: 70px;
   position: absolute;
   top: 0;
   left: 0;
   border: 1px rgb(255, 255, 255) inset;
   border-radius: 15px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 414px) {
   .header {
      height: 70px;
   }
}

.header__img {
   width: 35px;
   height: 35px;
   margin-top: -5px;
}

.header__menu {
   display: flex;
   justify-content: flex-end;
}
@media (max-width: 414px) {
   .header__menu {
      display: flex;
      justify-content: center;
   }
}

.header-menu__list {
   margin-top: -5px;
   display: flex;
}

.header__item {
   margin: 20px 20px;
   display: flex;
   align-items: center;
   list-style: none;
}
@media (max-width: 610px) {
   .header__item {
      margin: 20px 5px;
   }
}
@media (max-width: 414px) {
   .header__item {
      margin: 20px -1px;
   }
}
.popup-item__img {
   width: 35px;
   height: 35px;
   margin-top: -5px;
}
@media (max-width: 550px) {
   .popup-item__img {
      width: 30px;
      height: 30px;
   }
}
@media (max-width: 414px) {
   .popup-item__img {
      width: 25px;
   }
}

.header__link {
   display: flex;
   height: 50px;
   width: 80px;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 20px;
   color: rgb(33, 0, 183);
   text-decoration: none;
   transition-duration: 0.5s;
}
@media (max-width: 550px) {
   .header__link {
      width: 70px;
      height: 40px;
      font-size: 16px;
   }
}
@media (max-width: 414px) {
   .header__link {
      width: 60px;
   }
}



.popup__input {
   outline: 1px solid orange;
   border-radius: 20px;
   background-color: rgb(136, 217, 255);
   text-decoration: underline;
}

.popup__menu {
   width: 300px;
   height: 360px;
   border: solid 3px rgb(180, 218, 249);
   border-radius: 15px;
   box-shadow: 5px 5px 10px rgb(185, 209, 249);
   display: none;
   position: absolute;
   top: 90px;
   right: 240px;
   overflow-x: hidden;
}
@media (max-width: 726px) {
   .menu__popup {
      right: 180px;
   }
}
@media (max-width: 610px) {
   .menu__popup {
      right: 150px;
   }
}
@media (max-width: 550px) {
   .menu__popup {
      width: 290px;
      height: 290px;
      right: 110px;
   }
}
@media (max-width: 414px) {
   .menu__popup {
      width: 260px;
      height: 280px;
      right: 80px;
   }
}
@media (max-width: 395px) {
   .menu__popup {
      right: 60px;
   }
}

.popup__list,
.popup__list-sub {
   display: flex;
   
   justify-content: space-around;
   align-content: space-around;
   flex-wrap: wrap;
   list-style: none;
}

.popup-element,
.popup-element-sub {
   width: 90px;
   height: 100px;
}

.popup-element__link,
.popup-element__link {
   text-decoration: none;
}

.popup-element__img {
   width: 80px;
   height: 60px;
   transition-duration: 0.5s;
}

.popup-element__name, 
.popup-element-sub__name{
   color: black;
   font-size: 18px;
   text-align: center;
}

.popup__input {
   position: absolute;
   appearance: none;
}
/* .popup__input {
   appearance: none;
   position: absolute;
} */
.popup__input:hover ~ .popup__label {
   outline: 1px solid orange;
   border-radius: 20px;
   background-color: rgb(136, 217, 255);
   text-decoration: underline;
}
.popup__input:focus ~ .popup__label {
   outline: 2px solid orange;
}
.popup__input:checked ~ .popup__label {
   display: block;
}

.popup-list__input-sub {
   appearance: none;
}

.popup__label {
   
}
.popup-list__label-sub {
}
.popup__list-sub {
}

.popup-element,
.popup__element-sub {
   padding: 5px;
   border: 1px solid transparent;
   display: grid;
   grid-template-rows: 1fr auto;
   min-height: 100%;
   align-items: end;
   cursor: pointer;
}
.popup__element-link
.popup__element-link-sub {
   border: 1px solid transparent;
   padding: 5px;
   color: rgb(38, 170, 231);
}
.popup__img-sub {
   width: 48px;
   height: 48px;
}
@media (max-width: 550px) {
   .menu__img {
      width: 43px;
      height: 43px;
   }
}
@media (max-width: 414px) {
   .menu__img {
      width: 35px;
      height: 35px;
   }
}
/* .popup__sub-name {
} */
.popup-element-sub {
}
.popup-element-sub__link {
}
.popup-element-sub__img {
}

.footer,
.footer__link {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}
