/* *,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
} */

* {
   padding: 0;
   margin: 0;
   border: 0;
}
*:focus {
   outline: none;
}

html,
body {
   margin: 0;
   height: 100%;
   background-image: url("img/background-picture.jpg");
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
}
li {
   list-style: none;
}
a {
   text-decoration: none;
   cursor: pointer;
}
.wrapper {
   min-height: 100%;
   margin: 0 auto;
   display: grid;
   grid-template-rows: auto 1fr auto;
}
/**header*/
.header {
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: end;
   border-color: rgb(74, 85, 90);
   box-shadow: rgb(0 0 0 / 15%) 0px 10px 25px, rgb(0 0 0 / 15%) 0px 10px 25px;
}
@media (max-width: 414px) {
   .header {
      height: 70px;
      display: flex;
      justify-content: center;
   }
}
/**footer*/
.footer,
.footer__link {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}

/**header*/
.nav-container__list {
   display: flex;
   /* max-height: 100%; */
}
.nav-container__item {
   padding: 15px 15px;
   color: rgb(0, 238, 255);
   transition-duration: 0.5s;
   margin: 20px 15px;
   display: flex;
   align-items: center;
   list-style: none;
}
@media (max-width: 726px) {
   .nav-container__item {
      margin: 20px 10px;
   }
}
@media (max-width: 610px) {
   .nav-container__item {
      margin: 20px 5px;
   }
}
@media (max-width: 414px) {
   .nav-container__item {
      margin: 20px -1px;
   }
}
.nav-container__link {
   display: flex;
   padding: 15px;
   font-size: 20px;
   border: 1px solid transparent;
   border-radius: 5px;
   border: 1px solid transparent;
   transition-duration: 0.5s;
}
.nav-container__img {
   /* display: block; */
   width: 30px;
   height: 30px;
   cursor: pointer;
   transition-duration: 0.5s;
} /********/

/**products*/
.popup__menu {
   position: absolute;
   top: 50px;
   right: -50px;
   width: 380px;
   height: 615px;
   overflow: scroll;
   border: 1px solid #9b9b9b;
   border-radius: 5px;
   padding: 15px;
   display: none;
   background-color: white;
}
.popup__list {
   display: grid;
   grid-template-columns: repeat(3, 100px);
   grid-template-rows: repeat(1, 1fr);
   gap: 15px;
   align-items: end;
}
.popup__sublist {
   display: grid;
   grid-template-columns: repeat(3, 100px);
   grid-template-rows: repeat(1, 1fr);
   gap: 15px;
   display: none;
   padding: 15px;
   align-items: end;
}
/* .popup-sublist__label {
   position: relative;
} */
/* .popup-list__label,
.popup-sublist__label {
   font-size: 20px;
   text-align: center;
   text-transform: uppercase;
   padding: 5px;
   display: block;
   cursor: pointer;
   border: 1px solid transparent;
}
.popup-sublist {
   display: grid;
   grid-template-columns: repeat(3, 100px);
   grid-template-rows: repeat(1, 1fr);
   gap: 15px;
   display: none;
   padding: 15px;
   align-items: end;
} */
.list-element,
.sublist-element {
   padding: 5px;
   border: 1px solid transparent;
   display: grid;
   grid-template-rows: 1fr auto;
   min-height: 100%;
   align-items: end;
   cursor: pointer;
}
.list-element__link,
.sublist-element__link {
   border: 1px solid transparent;
   padding: 5px;
   color: rgb(38, 170, 231);
}
.list-element__img,
.sublist-element__img {
   display: block;
   max-height: 90%;
   max-width: 90%;
   margin: auto;
}
.list-element__name,
.sublist-element__name {
   color: black;
   font-size: 18px;
   text-align: center;
} /********/

/**CHECKBOX*/
.popup-list__input {
   appearance: none;
   position: absolute;
}
.popup-sublist__input {
   appearance: none;
}
.popup-list__input:checked ~ .popup__menu,
.popup-sublist__input:checked ~ .popup__submenu {
   display: block;
}
.popup-list__input:checked ~ .popup__sublist {
   border-top: 1px solid #b6b4b4;
   display: grid;
}
.popup-list__input:checked ~ .popup-sublist__label {
   display: none;
} /*********/

.nav-container__link:hover,
.nav-container__item:hover,
.list-element:hover,
.popup-list__input:hover ~ .popup-list__label,
.popup-sublist__input:hover ~ .popup-list__label {
   outline: 1px solid orange;
   border-radius: 20px;
   background-color: rgb(136, 217, 255);
   text-decoration: underline;
}
.nav-container__item:focus,
.nav-container__item:focus-within,
.nav-container__link:focus,
.nav-container__link:focus-within,
.list-element:focus,
.list-element:focus-within .popup-list__input:focus ~ .popup-list__input {
   /* border: 2px solid #ffbb00; */
   /* border-width: 10px 10px 10px 10px; */
   outline: 2px solid #ffbb00;
}

/* .nav-container__item:hover,
.list-element:hover,
.popup__menu-label__more:hover,
.popup-list__input:hover {
   border-radius: 15px;
   border: 1px solid #9b9b9b;
} */

